#so-settings table#manage-settings {
	border-collapse: collapse;
	margin-top: 2em;
}

#so-settings table#manage-settings td {
	width: 100%;
}

#so-settings table#manage-settings th {
	font-weight: bold;
	padding-right: 2em;
}

#so-settings table#manage-settings td,
#so-settings table#manage-settings th {
	padding-top: 2em;
	padding-bottom: 2em;
	border-top: 1px solid #ccc;
}